<div class="question-container">
  <div class="question-card" *ngIf="question">
    <h3>{{ question.title }}</h3>
    <p>{{ question.text }}</p>
    <p><strong>Author:</strong> {{ question.authorName }}</p>
    <p><strong>Posted on:</strong> {{ question.creationdatetime | date }}</p>
    <p><strong>Tags:</strong> {{ question.tags }}</p>
  </div>
</div>

<div *ngFor="let answer of answers; let i=index;"class="answer-card" style="margin-top: 30px;">

  <!-- Edit button -->
  <button *ngIf="isAuthor(answer.authorid) ||ismoderator" mat-icon-button color="primary" class="edit-button"  [routerLink]="['/user/edit-answer', answer.answerid]">
    <mat-icon>edit</mat-icon>
  </button>

  <!-- Delete button -->
  <button *ngIf="isAuthor(answer.authorid) ||ismoderator" mat-icon-button color="warn" class="delete-button" (click)="deleteAnswer(answer.answerid)">
    <mat-icon>delete</mat-icon>
  </button>
  <h2>Answers</h2>

  <div>
    <h5>Answered by: <b>{{answer.authorName}}</b> - Answered on:<b>{{answer.creationdatetime | date }}</b></h5>
    <p>{{answer.text}}</p>
  </div>

  <button mat-icon-button color="primary" (click)="addVote(answer,'true')">
    <mat-icon>thumb_up</mat-icon>
  </button>
  <button mat-icon-button color="warn" (click)="addVote(answer,'false')">
    <mat-icon>thumb_down</mat-icon>
  </button>
  <p>Vote count: {{ answer.votecount }}</p>

</div>
<!-------------------->
<div class="answer-section" style="margin-top: 30px;" >
  <div>
    <div>
      <h2>Post Answer</h2>
    </div>

    <form [formGroup]="validateForm" (ngSubmit)="addAnswer()">

      <div class ="form-field">
        <mat-form-field appearance="fill">
          <mat-label>Subject</mat-label>
          <textarea matInput rows="2" placeholder="Solution..." formControlName="text"></textarea>
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary">Post Answer</button>

    </form>

  </div>
</div>
