<div class="signup-container">
  <form [formGroup]="signupForm" >
    <h3>Sign Up</h3>

    <mat-form-field>
      <input matInput formControlName="name" type="text" placeholder="Enter Name" required formControlName="name" />
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="email" type="email" placeholder="Email" required formControlName="email"/>
    </mat-form-field>


    <mat-form-field>
      <input matInput formControlName="password" type="password" placeholder="Password" required formControlName="password"/>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="signup()" [disabled]="signupForm.invalid">Sign Up</button>
  </form>
</div>
